*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{

    background-color: aqua;
    display: grid;
    height: 100vh;
    /* justify-items: center;
    align-items: center; */
    place-content: center;
    /* grid-template-columns: 100%; */

}

#container{
    display: grid;
    background-color: white;
    margin: 40px;
    padding: 30px;
    width: 1000px;
    height: 800px;
    grid-template-columns: 50% 50%;
    
    border-radius: 30px;
    gap: 20px;


}

.ladoA{

    background-color: red;
}

.ladoB{

    background-color: yellow;
}